.header {
  color: #888;
  font-size: larger;
}
.parent1 {
  background: url("../assets/header.png");
  background-size: cover;
  background-position-x: 100px;
  background-position-y: -50px;
  width: 100%;
  height: 3rem;
  display: flex;
}
.header-div {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.header-div p {
  color: white;
  font-size: larger;
}
.header a{
    color: #1177af;
}